<div class="input_wrapper">
  <form #recognitionForm="ngForm" name="recognitionForm">
    <div class="bar_wrapper d-flex justify-content-center">
      <div class="option_bar d-flex justify-content-between">
        <div class="left_icons">
          <img
            src="../../assets/static/man_icon.png"
            class="icon"
            (click)="openModal('add-colleague')"
          />
          <app-modal id="add-colleague">
            <div class="modal colleague-modal">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="26"
                height="26"
                fill="currentColor"
                class="bi bi-x close"
                viewBox="0 0 16 16"
                (click)="closeModal('add-colleague')"
              >
                <path
                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                />
              </svg>
              <div class="modal-input">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-search"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                  />
                </svg>

                <input
                  #searchBox="ngModel"
                  type="text"
                  class="m-left"
                  placeholder="Find person"
                  id="search-box"
                  (click)="showEmployees()"
                  (input)="search(searchBox.value)"
                  [(ngModel)]="employeeName"
                  name="search"
                  autocomplete="off"
                  [disabled]="disableInput"
                />
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-pencil-square edit"
                  id="pencil"
                  viewBox="0 0 16 16"
                  *ngIf="showEdit"
                  (click)="enableInput()"
                >
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                  />
                </svg>
              </div>

              <button
                type="button"
                class="btn btn-primary input-button"
                (click)="onPersonConfirm()"
                [disabled]="!nameSelected || !employeeName || recognizeYourself"
              >
                Select
              </button>
            </div>
            <div
              class="alert alert-danger person-msg"
              role="alert"
              *ngIf="recognizeYourself"
            >
              You can't HighFive yourself!
            </div>
            <ul class="search-result" *ngIf="displayNames">
              <li *ngFor="let employee of employees$ | async">
                <a (click)="addName(employee)">
                  {{ employee.name }}
                </a>
              </li>
            </ul>
          </app-modal>
          <img
            src="../../assets/static/stars_icon.png"
            class="icon"
            (click)="openModal('add-points')"
          />
          <app-modal id="add-points">
            <div class="points-modal">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="26"
                height="26"
                fill="currentColor"
                class="bi bi-x close"
                viewBox="0 0 16 16"
                (click)="closeModal('add-points')"
              >
                <path
                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="currentColor"
                class="bi bi-info-circle"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                />
                <path
                  d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
                />
              </svg>
              <div class="modal-input">
                <input
                  #points="ngModel"
                  type="number"
                  step="0.01"
                  onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'"
                  placeholder="Add number of points"
                  name="points"
                  [(ngModel)]="givenPoints"
                  required
                />
              </div>
              <button
                type="button"
                class="btn btn-primary input-button add-button"
                (click)="onPointsConfirm()"
                [disabled]="
                  givenPoints > 20 ||
                  givenPoints < 1 ||
                  !givenPoints ||
                  givenPoints > pointsToGive
                "
              >
                Confirm
              </button>
            </div>
            <div
              class="alert alert-warning points-msg"
              role="alert"
              *ngIf="givenPoints > 20 || givenPoints < 0 || givenPoints === 0"
            >
              Please enter a value between 1 and 20.
            </div>
            <div
              class="alert alert-danger points-error"
              role="alert"
              *ngIf="givenPoints > pointsToGive"
            >
              You don't have enough points!
            </div>
          </app-modal>
        </div>
        <div class="action_call">Today is a good day to give a high five!</div>
        <div class="right_icon">
          <img
            src="../../assets/static/smiley_icon.png"
            class="icon"
            id="smiley"
            (click)="toggleEmojiPopup($event)"
          />
        </div>
        <emoji-mart
          (clickOutside)="toggleEmojiPopup($event)"
          class="emoji-mart"
          *ngIf="isEmojiPickerVisible"
          (emojiSelect)="addEmoji($event)"
          title="Choose your emoji!"
        ></emoji-mart>
      </div>
    </div>
    <div class="text_wrapper d-flex justify-content-center">
      <textarea
        #recognitionText
        type="text"
        name="textarea"
        class="text_input"
        cols="90"
        rows="4"
        placeholder="Add Text"
        [(ngModel)]="recognition.text"
        (keydown)="onKeyDown($event)"
        (keypress)="getCursorPosition(recognitionText)"
        (click)="hashtag = false"
        minlength="4"
        maxlength="400"
        required
      ></textarea>
      <ul class="search-result hashtags" *ngIf="hashtag">
        <li *ngFor="let tag of tags">
          <a (click)="addTag(tag)">
            {{ tag.name }}
          </a>
        </li>
      </ul>
    </div>
    <div class="button_wrapper d-flex justify-content-center">
      <div class="lower_wrapper d-flex justify-content-end">
        <!-- <div class="private_wrapper d-flex justify-content-start">
          <p class="private_text">I want to make this recognition private.</p>
          <div class="form-check form-switch">
            <input
              [(ngModel)]="checkbox"
              class="form-check-input"
              type="checkbox"
              id="privateSwitch"
              name="checkbox"
            />
          </div>
        </div> -->
        <div>
          <button
            class="btn btn-primary pick_button"
            id="pickAwardButton"
            (click)="submitRecognition()"
            [disabled]="!recognitionForm.valid"
          >
            Recognize
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
