<div class="welcome_card">
    <h2 class="welcome_text">Activity Track</h2>
</div>
<div class="icon_wrap d-flex justify-content-center">
    <img src="../../assets/static/conn_icon.png" width="80px" height="80px">
</div>
<div class="disp_wrapper">
    <p class="date">
        15/09/2022
    </p>
    <h1>
        You received a recognition from John Doe!
    </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam maximus urna, in ultrices eros sagittis eu. Sed orci neque, dapibus a placerat at, sodales et est. <span id="hash">#teamwork</span>
    </p>
</div>